#PASSWORD FILE#
###############
DEOvADHLQf2DZ279lUhD.txt

#UPLOADED FILES#
#################
files/*/
files/zip/*.*

#WINDOWS FILES#
###############
Thumbs.db
*/Thumbs.db

#ECLIPSE FILES#
###############
.buildpath
.project
.settings/

#CONFIG FILES#
##############
application/config/config.php
